body {
  background-color: F2F3F1;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.boxy {
  width: 75%;
  border: solid black;
  border-width: 5px;
  padding: 4px;
  background-color: 6C7A7B
  ;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.boxy2 {
  width: 100%;
  border: solid black;
  border-width: 5px;
  padding: 4px;
  background-color: rgb(160, 194, 194);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pic {
  width: 250px;
  padding: 1px;
  border:black;
  border-width: 15px;
  float: right;
}

#about, #experience, #project{
  display: none;
}

h1 {
  font-family: arial;
  font-weight: bold;
  color:darkslategray
}

p {
  font-size:xx-large
}

li {
  font-size: x-large
}

.smaller {
  font-size:medium
}

.robotic {
  font-family:courier;
  font-weight:bold;
  color:green
}